fastapi==0.121.1
uvicorn==0.38.0

torch
numpy
soundfile==0.13.1
python-multipart==0.0.20

# NeMo ASR only (lighter, fewer dependencies)
nemo_toolkit[asr]==1.20.0

# Needed dependencies for ASR only
sentencepiece==0.1.99
inflect
editdistance

# Avoid heavy NLP/TTS deps
omegaconf
pyyaml
braceexpand
wget
