fastapi==0.121.1
uvicorn==0.38.0

torch
torchaudio
numpy

nemo-toolkit==1.20.0
soundfile==0.13.1

python-multipart==0.0.20
hydra-core==1.3.2
pytorch-lightning==1.9.5
huggingface_hub==0.14.1
librosa==0.10.1
transformers==4.37.2
